In [198]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

In [199]:
df = pd.read_csv('income_evaluation.csv')

In [200]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [201]:
df[' income'] = df[' income'].astype('string')

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  string
dtypes: int64(6), object(8), string(1)
memory usage: 3.7+ MB

In [203]:
df.drop(columns=[' race', ' native-country', ' fnlwgt' , ' education-num' , ' marital-status' , ' relationship'], axis=1, inplace=True)
df

,age,workclass,education,occupation,sex,capital-gain,capital-loss,hours-per-week,income
0,39,State-gov,Bachelors,Adm-clerical,Male,2174,0,40,<=50K
1,50,Self-emp-not-inc,Bachelors,Exec-managerial,Male,0,0,13,<=50K
2,38,Private,HS-grad,Handlers-cleaners,Male,0,0,40,<=50K
3,53,Private,11th,Handlers-cleaners,Male,0,0,40,<=50K
4,28,Private,Bachelors,Prof-specialty,Female,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Tech-support,Female,0,0,38,<=50K
32557,40,Private,HS-grad,Machine-op-inspct,Male,0,0,40,>50K
32558,58,Private,HS-grad,Adm-clerical,Female,0,0,40,<=50K
32559,22,Private,HS-grad,Adm-clerical,Male,0,0,20,<=50K
32560,52,Self-emp-inc,HS-grad,Exec-managerial,Female,15024,0,40,>50K

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    education       32561 non-null  object
 3    occupation      32561 non-null  object
 4    sex             32561 non-null  object
 5    capital-gain    32561 non-null  int64
 6    capital-loss    32561 non-null  int64
 7    hours-per-week  32561 non-null  int64
 8    income          32561 non-null  string
dtypes: int64(4), object(4), string(1)
memory usage: 2.2+ MB

In [205]:
df.isnull().sum()

age                0
 workclass         0
 education         0
 occupation        0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 income            0
dtype: int64

In [206]:
df = pd.get_dummies(df , columns = [' workclass' , ' education' , ' occupation' , ' sex'] , drop_first= True)

In [207]:
from sklearn.model_selection import train_test_split 
y = df[' income'].values
x = df.drop(' income' , axis=1)
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.2 , random_state=402)

In [208]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

In [209]:
df

,age,capital-gain,capital-loss,hours-per-week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,sex_ Male
0,39,2174,0,40,<=50K,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,50,0,0,13,<=50K,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,38,0,0,40,<=50K,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,True
3,53,0,0,40,<=50K,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,True
4,28,0,0,40,<=50K,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,0,0,38,<=50K,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
32557,40,0,0,40,>50K,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
32558,58,0,0,40,<=50K,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
32559,22,0,0,20,<=50K,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
32560,52,15024,0,40,>50K,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [210]:
clf = DecisionTreeClassifier(criterion = 'entropy' , random_state = 42)

clf = clf.fit(x_train,y_train)

y_pred = clf.predict(x_test)

pd.DataFrame(y_pred , y_test)

            0
<=50K   <=50K
<=50K   <=50K
<=50K   <=50K
>50K    <=50K
<=50K   <=50K
...       ...
<=50K   <=50K
>50K     >50K
<=50K   <=50K
<=50K   <=50K
<=50K    >50K

[6513 rows x 1 columns]

In [211]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Classification Report for Decision Tree:""\n",classification_report(y_test, y_pred))

Accuracy: 0.8051589129433441
Classification Report for Decision Tree:
               precision    recall  f1-score   support

       <=50K       0.87      0.88      0.87      4993
        >50K       0.59      0.55      0.57      1520

    accuracy                           0.81      6513
   macro avg       0.73      0.72      0.72      6513
weighted avg       0.80      0.81      0.80      6513

In [215]:
from sklearn.model_selection import cross_validate

scores = cross_validate(estimator=clf, X=x_train, y=y_train, cv=5, scoring=['accuracy', 'roc_auc', 'recall'])

mean_accuracy = scores['test_accuracy'].mean()

print("Mean Accuracy Score:", mean_accuracy)

Mean Accuracy Score: 0.8018271933745265

In [217]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 10, random_state = None)
rf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10)

In [219]:
y_pred = rf.predict(x_test)

print("Classification Report for Random Forest:""\n",classification_report(y_test, y_pred))

Classification Report for Random Forest:
               precision    recall  f1-score   support

       <=50K       0.87      0.90      0.89      4993
        >50K       0.63      0.55      0.59      1520

    accuracy                           0.82      6513
   macro avg       0.75      0.73      0.74      6513
weighted avg       0.81      0.82      0.82      6513

In [220]:
from sklearn.model_selection import cross_validate

scores = cross_validate(estimator=clf, X=x_train, y=y_train, cv=5, scoring=['accuracy', 'roc_auc', 'recall'])

mean_accuracy = scores['test_accuracy'].mean()

print("Mean Accuracy Score:", mean_accuracy)

Mean Accuracy Score: 0.8018271933745265